FUNDAMENTOS DE BIOTECNOLOGÍA

Preparación de 4 Laboratorios 
Herramientas bioinformáticas (Matlab, Python)

PRODUCCIÓN DE BIODISEL A APARTIR DE ACEITES RESIDUALES 
	Encima lipasa

 Reporte de composición
 Destaca las impurezas 
 Composición del 100% de mi materia prima de la manera más elemental 
 
CARACTERIZACIÓN DE MATERÍA PRIMA 
 Explicar el 100% de la composición de base seca o húmeda 
 Como se hace las cuantificaciones (técnicas) 
 
Realizar con cada materia prima una composición (caracterización)

Bibliometrix 

end note 
botón Google scolar 



HERRAMIENTAS BIOINFORMATICAS
HERRAMIENTAS PARA LA IDENTIFICACIÓN DE ENZIMAS 
CINETICA DE BIOMASA
CINETICA PARA SUSTRATOS 

REVISIÓN DE AZUCARES TOTALES Y BRADFORD 

CAMBIAR FECHA, PONERLE VERSIONES MODIFICADAS
AJUSTAR LA TOMA DE LAS CONCENTRACIONES 

MONTAR BRADFORD

COMPARACIÓN DE DNS Y AZUCARES TOTALES: NO TODOS LOS AZUCARES CORRESPONDE A AZUCARES REDUCTORES
LEER EN EL REFRACTOEMTRO (GRADO BRIDS)

* AZUCARES REDUCTORES E INDICE DE REFRACCIÓN 
* TENER ENCUENTA EL PRICIPIO DE INDICE DE REFRACCIÓN

DNS - SACAROSA
    - GLUCOSA EN DIFERENTES CONCETRACIONES 
    - STEVIA 
    - JUGO HIT

LABORATORIO DE PROTEÍNAS (BRADFORD?)



HERRAMIENTAS BIOINFORMATICAS 

	Biorreactor y su composición 
	Modulación (fractales) 
	Sucesión 
	
Videos de NCBI (la profe va a compartir los videos)
Página de revisión de proteínas PDB

202
1g -> 10mL

---------------------------------------------------------------------------------
PROTOCOLO Y PASO A PASO PARA DNS

Se tienen las muestras dadas (glucosa, sacarosa, jugo, estevia), por lo que se van a necesitar uno bikers para sacar las alícuotas de cada uno, tubos de ensayo adicionales para la dilución de las muestras que sean necesarias.

 - Para este proceso se me ocurre que cada grupo tome 

 * Guantes
 * Bikers pequeños (4)
 * Reactivo DNS
 * Reactivo Bradford
 * Tubos de ensayo para dilución 
 * No es necesario más micropipetas? 
 * Agua destilada (para dilución)
 * celdas para el espectrofotómetro 

* Preparar el DNS y las muestras para 4 grupos 
 - Glucosa
 - Sacarosa
 - Esplenda
 - Jugo Hit 
 
Determinar la concentración base
Quitar el acceso de la matriz, para que no les quede tiempo de buscar 

---------------------------------------------------------------------------------
 
Sustrato fase liquida, inoculación en 100ml en elermeyer 
Frasco tapa azul con agar (a temperatura de solubilidad) 
Se tiene las cajas de petrí 
que hagan la siembra esperen a que solidifique y que hagan el rayado (explicar los diferentes tipos de rayado) que observen los crecimientos, entender la preparación del medio de cultivo (Definido) 
Con crecimiento de alguna bacteria ya crecida hacer tinción de gram, todos los paso para la coloración de gram.
La profe lleva medio ya crecido para tomar una muestra y hacer la determinación de biomasa, calcular en el espectrofotómetro 
Determinación de biomasa por peso seco, comparar las concentraciones 
Crecimiento de levadura y de bacteria 

(hacer medio complejo de objetos)

---------------------------------------------------------------------------------

	PARA AUTOCLAVE 

- Asas para inoculación (redonda y recta)
- Cajas de Petri 
- Erlenmeyer (250ml, 100ml)
- Se requiere algún otro tubo para medió líquido? 

Esteban y sebas: Medio de cultivo químicamente definido (papa - dextrosa); Es un medio de cultivo indefinido, porque hay otro tipo de compuestos